.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid var(--bs-gray-400);
    padding: 0px 12px;

    .title {
        font-size: 20px;
        font-weight: 500;
    }
}